.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
  margin-bottom: 20px;
}

.info p {
  margin: 5px 0;
  font-size: 1.1em;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #444;
}

.ingredientsList {
  list-style-type: disc;
  padding-left: 20px;
}

.ingredientsList li {
  margin: 5px 0;
  font-size: 1.1em;
}

.stepsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  flex: 1 1 45%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.step h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #555;
}

.step p {
  margin: 5px 0 0;
}

@media print {
  .container {
    box-shadow: none;
    padding: 0;
  }

  .stepsContainer {
    display: block; /* Apila los pasos verticalmente para impresión */
  }

  .step {
    flex: none; /* Elimina propiedades de flex */
    margin-bottom: 20px; /* Agrega espacio entre pasos */
    page-break-inside: avoid; /* Evita que los pasos se dividan entre páginas */
  }

  .image {
    max-width: 50%; /* Reduce el tamaño de la imagen para una mejor impresión */
  }

  /* Oculta elementos innecesarios durante la impresión */
  .no-print {
    display: none;
  }
}
